@import url('https://fonts.googleapis.com/css?family=Pacifico');


* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'arturo';
    src: url('../public/zt-arturo-demo-heavy.ttf') format('truetype')
}

body {
    font-family: 'arturo';
}

h1 {
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
}

.tit {
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    position: relative;;
}

h2 {
    font-family: 'Pacifico';
    font-size: medium;
    letter-spacing: 0px;
    text-align: right;
    padding-right: 30%;
}
.img1 {
    position: absolute;
    margin-left: 37%;
    z-index: 2;
    width: 5%;
  }
.couple {
    margin: auto;
    width: 20%;
}

.title-area {
    text-align:left;

  }
.post-area {
    text-align:right;

  }

.countdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.countdown-item {
    color: #111;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    margin: 10px;
    padding-top: 10px;
    position: relative;
    width: 100px;
    height: 100px;
}

.countdown-item span {
    color: #333;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.countdown-svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}