@import url(bootstrap/dist/css/bootstrap.css);
@import url('https://fonts.googleapis.com/css?family=Marcellus');

.footer {
    min-height: 128px;
    width: 100%;
    background-color: #FAF0FF;
    position: relative;
}

.footer__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    top: -50%;
    left: 50%;
    -webkit-transform: translate(-50%, 4%);
    -ms-transform: translate(-50%, 4%);
    transform: translate(-50%, 4%);
}

.footer__name {
    display: block;
    font-family: "Marcellus", serif;
    font-size: 56px;
    line-height: 88px;
    color: #4F3566;
    position: relative;
}

@media only screen and (max-width: 300px)
{
    .footer__name {
        display: none;
    }
}

.footer__image {
    position: relative;
}

.jeremy {
    margin-right: 56px;
}

.diana {
    margin-left: 56px;
}

@media only screen and (max-width: 700px)
{
    .footer__name {
        font-size: 35px;
    }
    
}

@media only screen and (max-width: 600px)
{
    .footer__name {
        font-size: 25px;
    }
    .jeremy {
        margin-right: 25px;
    }
    
    .diana {
        margin-left: 25px;
    }
    
}


@media only screen and (max-width: 500px)
{
    .footer__name {
        font-size: 18px;
    }
    .jeremy {
        margin-right: 18px;
    }
    
    .diana {
        margin-left: 18px;
    }
    
}

@media only screen and (max-width: 400px)
{
    .footer__name {
        font-size: 13px;
    }
    .jeremy {
        margin-right: 13px;
    }
    
    .diana {
        margin-left: 13px;
    }
    
}


.footer__image::after {
    content: "25 /12 /2022";
    position: absolute;
    bottom: -38px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: "Playfair Display", fangsong;
    font-size: 20px;
    line-height: 32px;
    color: #4F3566;
    white-space: nowrap;
}