@import url(bootstrap/dist/css/bootstrap.css);
@import url('https://fonts.googleapis.com/css?family=Marcellus');

*, :after, :before {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.row {
    border:0px;
    margin-right:
    0;
    margin-left:0;
    max-width:100%;
}

.image-header {
    background:linear-gradient(rgba(97, 88, 105, 0.35), rgba(97, 88, 105, 0.35)), url('https://nqwedding.s3.ap-southeast-1.amazonaws.com/header_ngang.jpg');
    height: 740px;
    background-position: center top;
    background-size: cover;
}

@media only screen and (max-width: 550px) {
    .image-header {
        background:linear-gradient(rgba(97, 88, 105, 0.35), rgba(97, 88, 105, 0.35)), url('https://nqwedding.s3.ap-southeast-1.amazonaws.com/header_doc.jpg');
        height: 740px;
        background-position: center top;
        background-size: cover;
    }
}

.header-title {
    font-family: 'Arizonia';
    font-size: 70px;
    line-height: 132px;
    padding-bottom: 16px;
    text-transform: capitalize;
    white-space: nowrap;
}


@media only screen and (max-width: 992px) {
    .bg-transparent {
        background-color: rgb(0,0,0,0.2) !important;
    }   
}

@media only screen and (max-width: 1100px) {
    .header-title {
        font-size: 60px;
        line-height: 112px;
    }   
}

@media only screen and (max-width: 1000px) {
    .header-title {
        font-size: 50px;
        line-height: 112px;
    }   
}
@media only screen and (max-width: 800px) {
    .header-title {
        font-size: 40px;
        line-height: 82px;
    }
}

@media only screen and (max-width: 400px) {
    .header-title {
        font-size: 35px;
        line-height: 62px;
    }
}

@media only screen and (max-width: 350px) {
    .header-title {
        font-size: 30px;
        line-height: 52px;
    }
}

@media only screen and (max-width: 300px) {
    .header-title {
        font-size: 25px;
        line-height: 52px;
    }
}
.header-subtitle {
    font-family: 'Italianno';
    font-weight: 200;
    font-size: 35px;
    line-height: 32px;
    text-transform: capitalize;
}

@media only screen and (max-width: 1100px) {
    .header-subtitle {
        font-size: 30px;
        line-height: 30px;
    }   
}


@media only screen and (max-width: 800px) {
    .header-subtitle {
        font-size: 20px;
        line-height: 25px;
    }   
}


@media only screen and (max-width: 300px) {
    .header-subtitle {
        font-size: 20px;
        line-height: 25px;
    } 
}
@media (min-width: 700px) { 
    .border-lg {
        border: 5px solid #dee2e6 !important;
    }
}
.mask2 {
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar-header {
    position: absolute;
}

.navbar-nav li a {
    color: white;
}
.row-empty {
    height: 100px;
}

.row-heigh {
    height: 396px;
}

.header__countdown {
    background-color: #FFEBCD;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 145px 44px 145px;
}

@media only screen and (max-width: 850px)
{
    .header__countdown {

        padding: 40px 90px 44px 90px;
    }
}

@media only screen and (max-width: 750px)
{
    .header__countdown {

        padding: 40px 50px 44px 50px;
    }
}

@media only screen and (max-width: 650px)
{
    .header__countdown {

        padding: 40px 20px 44px 20px;
    }
}

@media only screen and (max-width: 550px)
{
    .header__countdown {
        position: relative;
        left: 0;
        display: flex;
        flex-direction: column;
        transform: translate(0, 0);
        padding: 0px 0px 30px 0px;
    }
}


@media only screen and (max-width: 350px)
{
    .countdown__block {
        transform: scale(0.7);
    }
}

.countdown__title {
    font-size: 25px;
    line-height: 44px;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: #7E3117;
    text-transform: capitalize;
    white-space: nowrap;
    margin-bottom: 32px;
}

@media only screen and (max-width: 1000px) {
    .countdown__title {
        font-size: 40px;
        line-height: 112px;
    }   
}
@media only screen and (max-width: 800px) {
    .countdown__title {
        font-size: 35px;
        line-height: 82px;
    }
}
@media only screen and (max-width: 600px) {
    .countdown__title {
        font-size: 25px;
        line-height: 72px;
    }
}

@media only screen and (max-width: 400px) {
    .countdown__title {
        font-size: 20px;
        line-height: 72px;
    }
}

@media only screen and (max-width: 300px) {
    .countdown__title {
        font-size: 17px;
        line-height: 72px;
    }
}

.countdown__title_2 {
    font-size: 25px;
    line-height: 44px;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: #7E3117;
    text-transform: capitalize;
    white-space: nowrap;
    margin-bottom: 32px;
}

@media only screen and (max-width: 1000px) {
    .countdown__title_2 {
        font-size: 35px;
        line-height: 112px;
    }   
}
@media only screen and (max-width: 800px) {
    .countdown__title_2 {
        font-size: 30px;
        line-height: 82px;
    }
}
@media only screen and (max-width: 600px) {
    .countdown__title_2 {
        font-size: 20px;
        line-height: 72px;
    }
}

@media only screen and (max-width: 550px) {
    .countdown__title_2 {
        padding-top: 56px;
        line-height: 0px;
    }
}


@media only screen and (max-width: 400px) {
    .countdown__title_2 {
        font-size: 15px;

    }
}

@media only screen and (max-width: 300px) {
    .countdown__title_2 {
        font-size: 13px;
    }
}

.countdown__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.countdown__element {
    padding: 10px 22px;
    border: 1px solid #7E3117;
}

@media only screen and (max-width: 420px)
{.countdown__element {
    padding: 5px 15px;
}}
@media only screen and (max-width:350px)
{.countdown__element {
    padding: 10px 20px;
}}

.countdown__element .count {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #7E3117;
    margin-bottom: 4px;
}
.countdown__element .label {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7E3117;
}
.container {
    width: 93%;
    justify-content: space-evenly
}

.container-sm {
    width: 93%;
    justify-content: space-evenly
}
.header__menu-link {
    font-family: "Marcellus", serif;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
body:-webkit-full-page-media {
    background-color: rgb(38, 38, 38);
}

audio {
    /* width: 200px;
    height: 25px; */
}
::-webkit-media-controls-enclosure,
audio::-webkit-media-controls-panel {
    display: flex;
    direction: ltr;
    flex-direction: row;
    align-items: center;
    -webkit-user-select: none;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    height: 16px;
    text-align: right;
    background-color: transparent;
    align-content: flex-start;

}

/* audio::-webkit-media-controls-volume-slider {
    display: none !important;
} */

audio::-webkit-media-controls-timeline-container {
    -webkit-appearance: media-controls-background;
    display: none;
    background-color: transparent !important;
}

audio::-webkit-media-controls-current-time-display {
    display: none;
    background-color: transparent !important;
}
