@import url(bootstrap/dist/css/bootstrap.css);
@import url('https://fonts.googleapis.com/css?family=Marcellus');

.s-title {
    font-family: 'Baloo 2';
    font-size: 56px;
    line-height: 70px;
    text-align: center;
    text-transform: capitalize;
    color: #7E3117;
}

@media only screen and (max-width: 600px)
{
    .s-title {
        font-size: 35px;
        line-height: 50px;
    }
}

@media only screen and (max-width: 400px)
{
    .s-title {
        font-size: 30px;
        line-height: 50px;
    }
}

@media only screen and (max-width: 300px)
{
    .s-title {
        font-size: 25px;
        line-height: 50px;
    }
}

.couple {
    padding-top: 204px;
    padding-bottom: 108px;
}

.couple .s-title {
    margin-bottom: 88px;
}

.couple__groom {
    margin-bottom: 62px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.couple__groom .couple__image {
    margin-left: 14px;
    margin-top: 34px;
}

.couple__image {
    width: 350px;
    height: 430px;
    border: 8px solid #7E3117;
    position: relative;
}

.couple__image-groom--left::after {
    top: -60px;
    left: 60px;
    background-image: url('https://nqwedding.s3.ap-southeast-1.amazonaws.com/avatar/quang_ava.jpg') ;
    background-size: contain;
    
}

.couple__image::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.couple__text--right {
    padding-left: 48px;
    margin-left: 144px;
}

@media only screen and (max-width: 550px) {
    .couple {
        padding-top: 100px;
    }
}

@media only screen and (max-width: 990px) {

    .couple__image {
        border: 0px solid #7E3117;
        width: 150px;
        height: 150px;
    }
    .couple__image-groom--left::after {
        left: 0px;
        background-image: url('https://nqwedding.s3.ap-southeast-1.amazonaws.com/avatar/Quang_ava_cir.jpg');
        border-radius: 50%;
        width: 150px;
        height: 150px;
        
    }
    .couple__groom .couple__image {
        margin-left: 0px;
    }

    .couple__text--right {
        padding-left: 0px;
        margin-left: 0px;
    }
    
}

.couple__text {
    max-width: 384px;
}

.couple__text-head {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 24px;
}

.couple__title {
    font-family: 'Baloo 2';
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #7E3117;
    text-transform: uppercase;
}

.couple__subtitle {
    font-family: 'Baloo 2';
    font-size: 24px;
    line-height: 36px;
    color: #7E3117;
}

.couple__text-head::after {
    content: "";
    position: absolute;
    width: 112px;
    height: 1px;
    background-color: #7E3117;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
}

@media only screen and (max-width: 990px) {
    .couple__text-head::after {
        left: 50%;
    }
}

.couple__descr {
    font-family: 'Baloo 2';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.couple__bride {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 990px)
{
    .couple__groom {
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .couple__bride {
        justify-content: center;
        text-align: center;
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 75px;
    }
}

.couple__bride .couple__image {
    margin-right: 14px;
    margin-top: 28px;
}

.couple__bride .couple__image {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
}

.couple__image-bride--right::after {
    top: -60px;
    right: 60px;
    background-image: url('https://nqwedding.s3.ap-southeast-1.amazonaws.com/avatar/Nhi_ava.jpg');
    background-size: contain;
}
.couple__text--left {
    margin-right: 224px;
}

@media only screen and (max-width: 990px) {


    .couple__image-bride--right::after {
        left: 0px;
        background-image: url('https://nqwedding.s3.ap-southeast-1.amazonaws.com/avatar/Nhi_ava_cir.jpg');
        border-radius: 50%;
        width: 150px;
        height: 150px;
        
    }
    .couple__bride .couple__image {
        margin-left: 0px;
    }

    .couple__text--left {
        padding-left: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
}

.image-dihoc-header {
    background:linear-gradient(rgba(97, 88, 105, 0.35), rgba(97, 88, 105, 0.35)), url('https://nqwedding.s3.ap-southeast-1.amazonaws.com/hinhdihoc.png');
    height: 540px;
    background-position: center center;
    background-size: cover;
}

.mask2 {
    background-color: rgba(0, 0, 0, 0.3);
}

.header-subtitle {
    font-family: 'Baloo 2';
    font-weight: 200;
    font-size: 20px;
    line-height: 32px;
    text-transform: none;
    text-align: center;
}
@media only screen and (max-width: 900px)
{
    .header-subtitle {
        font-size: 15px;
    }
}


@media only screen and (max-width: 600px)
{
    .header-subtitle {
        font-size: 13px;
    }
}

@media only screen and (max-width: 350px)
{
    .header-subtitle {
        font-size: 10px;
    }
}


.story {
    position: relative;
    padding-top: 22px;
    padding-bottom: 64px;
}


.story::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: #FFEBCD;
    z-index: -1;
}

.story .s-title {
    position: absolute;
    z-index: 7;
    top: 32px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0px 0px 32px 0px;
}

.story__slide {
    display: flex !important;
    flex-direction: row;
    padding-bottom: 36px;
}

@media only screen and (max-width: 920px)
{
    .story__slide {
        flex-direction: column;
        align-items: center;
    }
}

.story__slider {
    position: relative;
    margin-left: 107px;
}
@media only screen and (max-width: 920px)
{
    .story__slider {
        margin-left: 0px;
        padding: 0;
    }
}

@media only screen and (max-width: 960px)
{
    .story .s-title {
        font-size: 40px;

    }
}

@media only screen and (max-width: 700px)
{
    .story .s-title {
        font-size: 30px;

    }
}

@media only screen and (max-width: 540px)
{
    .story .s-title {
        font-size: 25px;

    }
}

.story__slider-image {
    width: 576px;
    object-fit: contain;
}

@media only screen and (max-width: 500px)
{
    .story1 .story__slider-image {
        padding-top: 170px;
    }
}

@media only screen and (max-width: 990px)
{
    .story1 .story__slider-image {
        padding-top: 110px;
    }
}

@media only screen and (max-width: 920px)
{
    .story__slider-image {
        margin-bottom: 30px;
        width: 100% !important;
    }
}

@media only screen and (min-width: 1400px)
{
    .story__slider-image img {
        max-width: 576px !important;
        height: 440px !important;
    }
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.story__slider-text {
    padding-top: 20px;
    padding-left: 48px;
    margin-left: 54px;
    max-width: 352px;
}

.story__slider-descr {
    font-family: 'Baloo 2';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;

}

@media only screen and (max-width: 920px)
{
    .story__slider-text {
        text-align: center;
        padding: 0;
        margin: 0;
        max-width: 100%;
    }
}
@media only screen and (max-width: 1040px)
{
    .story__slider-text {
        margin-top: 0;
    }
}

.slider__head-text {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 24px;
}

.slider__head-text::after {
    content: "";
    position: absolute;
    width: 112px;
    height: 1px;
    background-color: #4F3566;
    bottom: 0;
    left: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media only screen and (max-width: 920px)
{
    .slider__head-text::after {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

}

.slick-arrow-left {
    position: absolute;
    bottom: -30px;
    border: none;
    background: none;
    width: 130px;
    height: 12px;
    z-index: 3;
    background: url('https://nqwedding.s3.ap-southeast-1.amazonaws.com/arrow-left.svg') no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all .2s ease-out;
}

.slick-arrow-left:hover {
    left: -10px;
}

@media screen and (max-width: 920px) {
    .slick-arrow-left {
        left: 60px;
        width: 100px;
    }
    .slick-arrow-left:hover {
        left: 50px;
    }
    
}

.slick-arrow-right {
    position: absolute;
    bottom: -30px;
    border: none;
    background: none;
    width: 130px;
    height: 12px;
    z-index: 3;
    left: 150px;
    background: url('https://nqwedding.s3.ap-southeast-1.amazonaws.com/arrow-right.svg') no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all .2s ease-out;
}

.slick-arrow-right:hover {
    left: 160px;
}
@media screen and (max-width: 920px) {
    .slick-arrow-right {
        left: 180px;
        width: 100px;
    }
    .slick-arrow-right:hover {
        left: 190px;
    }
}
.photos {
    width: 100%;
    position: relative;
    padding-top: 4px;
    padding-bottom: 50px;
}


.photos .container {
    max-width: unset;
} 

.photos .container-sm {
    max-width: unset;
} 


.slick-center {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    transform: scale(1.25);

}
  
.photos .slick-list { 
    padding:45px 60px !important;
    margin:0px 30px !important;

}

/* .photos .img-responsive {
    display: block;
    max-width: 80%;
    height: auto;
    margin:0 auto;
} */
/* .photos .swiper {
    overflow: visible;
    box-sizing: border-box;
} */


.swiper .swiper-slide-active img {
    position: absolute;
    -webkit-transform: scale(1.29);
    -ms-transform: scale(1.29);
    transform: scale(1.29);
    top: -38px;
    left: 0;
    z-index: 2;
}

.swiper .swiper-slide-active::before {
    content: "";
    position: absolute;
    right: -50px;
    top: -129px;
    width: 32px;
    height: 530px;
    background-color: #fff;
    z-index: 9;
}

.swiper .swiper-slide-active::after {
    content: "";
    position: absolute;
    left: -50px;
    top: -129px;
    width: 32px;
    height: 530px;
    background-color: #fff;
    z-index: 9;
}

.photo img {
    width: 100%;
}

.swiper .swiper-slide-active {
    position: relative;
}
.swiper-slide {
    width: 320px;
}

.venues__ceremony {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

@media only screen and (max-width: 920px)
{
    .venues__ceremony {
        flex-direction: column;
    }
}

.venues__ceremony {
    margin-bottom: 140px;
}

.ceremony__card {
    padding-top: 34px;
    padding-left: 93px;
    padding-right: 32px;
    padding-bottom: 34px;
}

.venues__card {
    width: 560px;
    border: 8px solid #dfc188;
}

@media only screen and (max-width: 920px)
{
    .venues__card {
        width: unset;
        border: 8px solid #dfc188;
        /* margin-left: -25px;
        margin-right: 25px; */

    }
}

.venues__card-head {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 24px;
}

.venues__card-info .venues__card-block:first-child {
    margin-bottom: 44px;
}

.venues__card-block {
    display: flex;
}

.venues__card-label {
    margin-right: 40px;
}

.venues__card-label {
    font-family: 'Baloo 2';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #7E3117;
}

.venue__card-data {
    font-family: 'Baloo 2';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7E3117;
}

.venues__card-link {
    display: block;
    margin-top: 33px;
    text-align: center;
    opacity: 1;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    font-family: 'Baloo 2';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7E3117;
}
.address__map-container--left {

}

.address__map {
    width: 576px;
    height: 408px;
}

@media only screen and (max-width: 920px)
{
    .address__map {
        width: 100%;
        height: 408px;
        /* margin-left: -25px; */
    }
}

.address__map--ceremony {
    height: 100%;
}

.map {
    height: 100%;
}

.venues__card-head {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 24px;
}

.venues__card-title {
    font-family: 'Baloo 2';
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #855908;
}

.venues__card-head::after {
    content: "";
    position: absolute;
    width: 112px;
    height: 1px;
    background-color: #4F3566;
    bottom: 0;
    left: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.venues__card-link {
    display: block;
    margin-top: 33px;
    text-align: center;
    opacity: 1;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.venues__card-link {
    font-family: 'Baloo 2';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #4F3566;
}

.repair {
    margin-top: 55px;
    padding-bottom: 80px;
}

.repair-subtitle {
    padding-bottom: 20px;
    font-family: 'Baloo 2';
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    text-transform: none;
    text-align: center;
}
@media only screen and (max-width: 600px)
{
    .repair-subtitle {
        padding-bottom: 20px;
        font-family: 'Baloo 2';
        font-weight: 200;
        font-size: 15px;
        line-height: 30px;
        text-transform: none;
        text-align: center;
    }
}

@media only screen and (max-width: 400px)
{
    .repair-subtitle {
        padding-bottom: 20px;
        font-family: 'Baloo 2';
        font-weight: 200;
        font-size: 13px;
        line-height: 30px;
        text-transform: none;
        text-align: center;
    }
}

.repair_card {
    padding-bottom: 20px;
}

.repair_card_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.repair_card_title {
    font-family: 'Baloo 2';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.repair_card_desc {
    font-family: 'Baloo 2';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
    width: 200px;
}



@media only screen and (min-width: 920px)
{
    .repair_card_img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    
}

@media only screen and (max-width: 920px)
{
    .repair_card_title {
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;

    }

    .repair_card_desc {
        width: 120px;
    }
    
    
}